apache-airflow-providers-amazon==8.0.0
apache-airflow-providers-apache-spark==3.0.0
apache-airflow-providers-ssh==3.0.0
apache-airflow-providers-http==4.0.0
apache-airflow-providers-elasticsearch==4.5.1
requests-aws4auth==1.1.1
boto3==1.24.23